body{
	background: url(calcu.jpg) fixed no-repeat;
	background-size:cover;
}
.p{
	background-size: 20%;
}
.o1{
background-color: #88C6EF;

}
.o2{
background-color: #88C6EF;
}
.t1{
	background-color: #EE991E ;
	height: 50px;
	width: 100px;
}
.sum{
background-color: #88C6EF;
}
.b11{
	background-color: black;
	width: 50px;
	height: 20px;
	position: relative;
}
